@model ShopHoNo.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container" style="display: flex; justify-content: center; height: 100vh;">
    <div class="col-md-5" style="margin-right: 20px; margin-top: 90px;">
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <!-- Hiển thị ValidationSummary -->
            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input asp-for="Email" type="email" class="form-control form-control-lg" id="Email" placeholder=" " />
                <label class="form-label" for="Email">Email</label>
                <span asp-validation-for="Email"></span>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send Reset Link</button>
        </form>
    </div>
</div>
