@model ShopHoNo.Models.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container" style="display: flex; justify-content: center; height: 100vh;">
    <div class="col-md-5" style="margin-right: 20px; margin-top: 90px;">
        <form asp-action="ResetPassword" asp-controller="Account" method="post">
            <!-- Hiển thị ValidationSummary -->
            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <!-- Hidden Token and Email -->
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input asp-for="Password" type="password" class="form-control form-control-lg" id="Password" placeholder=" " />
                <label class="form-label" for="Password">New Password</label>
                <span asp-validation-for="Password"></span>
            </div>

            <!-- Confirm Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" id="ConfirmPassword" placeholder=" " />
                <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
        </form>
    </div>
</div>
